<%= form_for([@project, @project.tasks.build]) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <div class="field">
      <%= f.label :user_id, 'Manager' %>
      <%= collection_select(:task, :user_id, User.all, :id, :last_name, promt: false ) %>
    </div>

    <p>
      <%= f.submit %>
    </p>
<% end %>