<div class="tasks">
  <strong><%= task.title %>: </strong>
  <%= task.description %>  <br>
  <strong>Status: </strong><%= Status.find_by(id: task.status_id).name %><br>
  <strong>Manager: </strong><%=	User.find_by(id: task.user_id).last_name %><br>

  <% if can? :destroy, @task %>
    <%= link_to 'Delete task', [task.project, task],
                  method: :delete,
                  data: { confirm: 'Delete task?' } %>
  <% end %>

  <% if can? :update, @task %>
    <%= link_to 'Edit task', edit_project_task_path(@project, task) %>
  <% end %>

</div>
