<h1>Edit task</h1>
<%= form_for([@task.project, @task]) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <div class="field">
      <%= f.label :status_id %>
      <%= collection_select(:task, :status_id, Status.all, :id, :name, promt: false ) %>
    </div>

    <div class="field">
      <%= f.label :user_id %>
      <%= collection_select(:task, :user_id, User.all, :id, :last_name, promt: false ) %>
    </div>

    <p>
      <%= f.submit %>
    </p>
<% end %>