<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Total</th>
      <th>N / P / D</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <%  new = project.tasks.where(status_id: '1').count
          progress = project.tasks.where(status_id: '2').count
          done = project.tasks.where(status_id: '3').count %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.summary %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= "#{project.user.first_name} #{project.user.last_name}" %></td>
        <td><%= project.tasks.count %></td>
        <td><%= "#{new} / #{progress} / #{done}" %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
