<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>User:</strong>
  <%= project_user_full_name %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr>
<% if @project.tasks.count > 0 %>
    <h2>Project's tasks:</h2>
       <%= render @project.tasks %>
   <% else %>
    <h3>Add new task:</h3>
<% end %>

<%= render 'tasks/form' %>