<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagerDev</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
      <p>Signed in: <strong><%= logged_user_full_name %></strong></p>
      <% if current_user.admin? %>
        <p>Role: <strong>Admin</strong></p>
      <% else %>
        <p>Role: <strong>User</strong></p>
      <% end %>
      <hr>
  <% end %>
  <p id="notice"><%= notice %></p>

  <%= yield %>

  </body>
</html>
