<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagerDev</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
      <p>Signed in: <strong><%= logged_user_full_name %></strong></p>
      <p>Role: <strong><%= Role.find(current_user.role_id).name %></strong></p>
      <hr>
  <% end %>


  <%= yield %>

  </body>
</html>
